*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to left top, #f2e1fc,#f8dbee, #def1ff);
}
.contenedorSlide{
    max-width: 1100px;
    width: 100%;
    position: relative;
}

.contenedorSlide i{
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.contenedorSlide i:first-child{
    left: -22px;
}
.contenedorSlide i:last-child{
    right: -22px;
}
.contenedorSlide .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 5) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;    
    overflow: hidden;
}
.carousel :where(.cardContent, .imagenCarousel){
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel .cardContent{
    list-style: none;
height: 342px;
background-color: #fff;
border-radius: 8px;
display: flex;
padding-bottom: 15px;
align-items: center;
justify-content: center;
flex-direction: column;
}
.carousel .cardContent .imagenCarousel{
    background-color: #ffe9d5;
    width:  144px;
    height: 144px;
}
.cardContent .imagenCarousel img{
    width:  140px;
    height: 140px;
    object-fit: cover;
    border: 4px solid #fff;
}
.cardContent h2{
font-weight: 500;
font-size: 1.26rem;
margin:30px 0 5px;
}
.cardContent span{
    color: #6a6d78;
    font-size: 1.2rem;
}

@media screen and (max-width: 900px) {
    .contenedorSlide .carousel{
        grid-auto-columns: calc((100% / 3) - 9px);
    }
}

@media screen and (max-width: 500px) {
    .contenedorSlide .carousel{
        grid-auto-columns: 100%
    }
}